**/AOCvenv
**/AOCenv
**/input
*.pyc
*.json
*.vscode
*.egg-info
*.sh
target/
*.toml
build/
debug/
*.lock
*.TAG
*.json
*build
*CMakeFiles
*googletest
*lib
*CMakeCache.txt
*libExample.a
*ExampleExec
*ExampleTests
*.cmake
*Makefile
*.cmake