**/AOCvenv
**/AOCenv
**/input
*.pyc
*.egg-info
*.sh
target/
build/
debug/
*.lock
*.TAG
*.json
*build
*CMakeFiles
*googletest
*CMakeCache.txt
*libExample.a
*ExampleExec
*ExampleTests
*.cmake
*Makefile
*.cmake
*input